<!DOCTYPE html>
<html lang="en">

<head>
    <title>Atlas Landing Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" href="../static/assets/small_images/atlas_logo.svg" type="image/icon type">

    <!-- External Libraries -->
    <script src="https://kit.fontawesome.com/5f49434870.js" crossorigin="anonymous"></script>

    <!-- Stylesheets -->

</head>

<body>

    <h1>{{ content }}</h1>

<!-- Scripts -->

</body>

</html>